<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Festival</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="imgs/founder.png" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width:device-width, initial-scale=1" />
    <link href="flexbin.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


</head>
<body>
	<!-- <div class="bodyAlert">
		
	</div> -->
	<header class="container-fluid" ng-controller="ctrlHead">
		<div class="row">
			<button type="button" class="btn btnHeaderBar" ng-click="btnHeaderBar()">
	            <span class=" glyphicon glyphicon-menu-hamburger"></span>
	            
	        </button>
			<div class="headerLogo col-md-4 col-sm-6 col-xs-4">
				<a href="#/!"><img src="imgs/festival_0.png"></a>
			</div>

			<div class="headerSearch col-md-4 col-sm-12 col-xs-12">
				<div class="input-group">
					<input type="hidden" name="" id="headSearch">
					<input type="hidden" name="" id="headDetail">

					<input id="textbox" type="text" class="valueSearch form-control">
					<span class="input-group-btn">
			        	<a class="btn btn-default"  id="googleLink" href="notrequired" target="_blank" onclick="this.href='http://www.google.com/search?q=' + encodeURIComponent(document.getElementById('textbox').value);">
			        		<i class="fa fa-search" aria-hidden="true"></i>
			        	</a>
			    	</span>
				</div>
				
			</div>
			<div class="headerUser col-md-4 col-sm-6 col-xs-8">

				<a href="../login.html" class="headerLogin col-md-6 col-sm-6 col-xs-6" ng-hide="isLoggedIn">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					Đăng Nhập
				</a>
				<a href="../register.html" class="headerRegister col-md-6 col-sm-6 col-xs-6" ng-hide="isLoggedIn">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					Đăng Kí
				</a>
				<a href="" class="headerLogin col-md-6 col-sm-6 col-xs-6" ng-show="isLoggedIn" ng-click="btnLogOut()">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
	    			Log Out
				</a>
				<a href="#!profile" class="headerUserAva col-md-6 col-sm-6 col-xs-6" ng-show="isLoggedIn">
					<img src="{{avaUrl}}" class="headerAva">
	    			{{loggedInUsername}}
				</a>
			</div>
		</div>
	</header>

	<nav class="container-fluid" ng-controller="ctrlNav">
		<ul class="row">
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="#!/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					Trang Chủ 
				</a>
			</li>
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="#!search" ng-click="menuSearch('0')">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					Việt Nam
				</a>
			</li>
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="">
					<span class="glyphicon glyphicon-triangle-right navItem-icon" aria-hidden="true"></span>
					Châu Lục
				</a>			
				<ul class="navDrop">
				    <li><a href="#!search" ng-click="menuSearch('1')">Châu Á</a></li>
				    <li><a href="#!search" ng-click="menuSearch('2')">Châu Âu</a></li>
				    <li><a href="#!search" ng-click="menuSearch('3')">Châu Mỹ</a></li>
				    <li><a href="#!search" ng-click="menuSearch('4')">Châu Phi</a></li>
				    <li><a href="#!search" ng-click="menuSearch('5')">Châu Úc</a></li>
				 </ul>
			</li>
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="">
					<span class="glyphicon glyphicon-triangle-right navItem-icon" aria-hidden="true"></span>
					Tôn Giáo
				</a>				
				<ul class="navDrop">
				    <li><a href="#!search" ng-click="menuSearch('6')">Đạo Phật</a></li>
				    <li><a href="#!search" ng-click="menuSearch('7')">Đạo Hồi</a></li>
				    <li><a href="#!search" ng-click="menuSearch('8')">Đạo Thiên Chúa</a></li>
				    <li><a href="#!search" ng-click="menuSearch('9')">Đạo Hindu</a></li>
				 </ul>
			</li>
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="#!media">
					<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					Thư Viện
				</a>			
			</li>
			<li class="navItem col-md-2 col-sm-2 col-xs-12">
				<a href="#!about">
					<span class="glyphicon glyphicon-triangle-right navItem-icon" aria-hidden="true"></span>
					Giới Thiệu
				</a>								
				<ul class="navDrop">
				    <li><a href="#!contact">Liên Hệ</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<main class="container-fluid" >
		<div class="main">
			<div ng-view>
				
			</div>
		</div>
	</main>

	<footer ng-controller="ctrlFooter">
		<div class="footerBg">
			<div class="container">
				<div class="footerItem col-md-3 col-md-3 col-xs-6">
					<h4>Về chúng tôi</h4>
					<ul class="footerItemList">
						<li><a href="">Trang chủ<div class="footerBorderBot"></div></a></li>
						<li><a href="">Tìm kiếm<div class="footerBorderBot"></div></a></li>
						<li><a href="">Thư viện<div class="footerBorderBot"></div></a></li>
						<li><a href="">Giới thiệu<div class="footerBorderBot"></div></a></li>
					</ul>
				</div>
				<div class="footerItem col-md-3 col-md-3 col-xs-6">
					<h4>Chính sách</h4>
					<ul class="footerItemList">
						<li><a href="">Chính sách vận chuyển<div class="footerBorderBot"></div></a></li>
						<li><a href="">Chính sách bảo hành<div class="footerBorderBot"></div></a></li>
						<li><a href="">Chính sách bảo mật<div class="footerBorderBot"></div></a></li>
						<li><a href="">Chính sách chung<div class="footerBorderBot"></div></a></li>
					</ul>
					
				</div>
				<div class="footerItem col-md-3 col-md-3 col-xs-6">
					<h4>Hướng dẫn</h4>
					<ul class="footerItemList">
						<li><a href="">Hướng dẫn mua vé<div class="footerBorderBot"></div></a></li>
						<li><a href="">Hướng dẫn thanh toán<div class="footerBorderBot"></div></a></li>
						<li><a href="">Hướng dẫn đổi trả<div class="footerBorderBot"></div></a></li>
						<li><a href="">Đăng ký thành viên<div class="footerBorderBot"></div></a></li>
					</ul>
				</div>
				<div class="footerItem col-md-3 col-md-3 col-xs-6">
					<h4>Thành viên sáng lập</h4>
					<ul class="footerItemList">
						<li><a href="">Đỗ Văn Quyến<div class="footerBorderBot"></div></a></li>
						<li><a href="">Nguyễn Tuấn Anh<div class="footerBorderBot"></div></a></li>
						<li><a href="">Nguyễn Hồng Hanh<div class="footerBorderBot"></div></a></li>
						<li><a href="">Vũ Trí Thành<div class="footerBorderBot"></div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<div ng-controller="ctrlCart">
		<div  class="btnChangeAdminpage">
			<a href="" ng-click="btnChangeAdmin()"> 
				<img src="" id="btnChangeAdminimg">
 				<span class="countCart"></span>
			</a>
		</div>
		
	</div>
	<!-- <script>
	  (function() {
	    var cx = '011049519405399044806:htcys2-xoxg';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search> -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWqbSNVYy7jSr5KC14doMijaosdwF-Bw&callback=initMap"></script> 
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>