<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Lễ Hội</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>


</head>
<body>
	<header class="container-fluid" ng-controller="ctrlHead">
		<div class="row">
			<div class="headerLogo col-md-4 col-sm-12 col-xs-12">
				<a href="#/!"><img src="imgs/festival_0.png"></a>
			</div>
			<div class="headerSearch col-md-4 col-sm-12 col-xs-12">
				<div class="input-group">
					<input type="hidden" name="" id="headSearch">
					<input type="text" class="valueSearch form-control">
					<span class="input-group-btn">
			        	<a href="" class="btn btn-default" ng-click="btnSearch()">
			        		<i class="fa fa-search" aria-hidden="true"></i>
			        	</a>
			    	</span>
				</div>
				
			</div>
			<div class="headerUser col-md-4 col-sm-12 col-xs-12">
				<a href="chucnang/login.html" class="headerLogin col-md-6 col-sm-6 col-xs-6">Đăng Nhập</a>
				<a href="chucnang/register.html" class="headerRegister col-md-6 col-sm-6 col-xs-6">Đăng Kí</a>
			</div>
		</div>
	</header>

	<nav class="container-fluid" ng-controller="ctrlNav">
		<ul class="row">
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="#!main">Trang chủ</a>
			</li>
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="" ng-click="menuSearchLucDia('Việt Nam')">Việt Nam</a>
			</li>
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="">Châu Lục</a>
				<ul class="navDrop">
				    <li><a href="#" ng-click="menuSearchLucDia('Châu Âu')">Châu Á</a></li>
				    <li><a href="#" ng-click="menuSearchLucDia('Châu Mỹ')">Châu Mỹ</a></li>
				    <li><a href="#" ng-click="menuSearchLucDia('Châu Phi')">Châu Phi</a></li>
				    <li><a href="#" ng-click="menuSearchLucDia('Châu Úc')">Châu Úc</a></li>
				 </ul>
			</li>
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="">Tôn Giáo</a>
				<ul class="navDrop">
				    <li><a href="#" ng-click="menuSearchTonGiao('Đạo Phật')">Đạo Phật</a></li>
				    <li><a href="#" ng-click="menuSearchTonGiao('Đạo Hồi')">Đạo Hồi</a></li>
				    <li><a href="#" ng-click="menuSearchTonGiao('Đạo Thiên Chúa')">Đạo Thiên Chúa</a></li>
				    <li><a href="#" ng-click="menuSearchTonGiao('Đạo Hindu')">Đạo Hindu</a></li>
				 </ul>
			</li>
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="#!media">Thư Viện</a>
			</li>
			<li class="navItem col-md-2 col-sm-4 col-xs-12">
				<a href="#!about">Giới Thiệu</a>
				<ul class="navDrop">
				    <li><a href="#!contact">Liên Hệ</a></li>
				</ul>
			</li>
		</ul>
	</nav>


	<main class="" >
		<div class="container-fluid main" ng-view>
			
		</div>

	</main>

	<footer>
			<div class="container">
				<div class="col-md-3 col-md-6 col-xs-12">
					<strong>Về chúng tôi</strong>
					<a>Trang chủ</a>
					<a>Tìm kiếm</a>
					<a href="">Thư viện</a>
					<a href="">Giới thiệu</a>
					<a href="">Bản đồ</a>
				</div>
				<div class="col-md-3 col-md-6 col-xs-12">
					<strong>Chính sách</strong>
					<a href="">Chính sách vận chuyển</a>
					<a href="">Chính sách bảo hành</a>
					<a href="">Chính sách bảo mật</a>
					<a href="">Chính sách chung</a>
				</div>
				<div class="col-md-3 col-md-6 col-xs-12">
					<strong>Hướng dẫn</strong>
					<a href="">Hướng dẫn mua vé</a>
					<a href="">Hướng dẫn thanh toán</a>
					<a href="">Hướng dẫn đổi trả</a>
					<a href="">Hướng dẫn bảo hành</a>
					<a href="">Đăng ký thành viên</a>
				</div>
				<div class="col-md-3 col-md-6 col-xs-12">
					<strong>Thành viên sáng lập</strong>
					<a href="">Đỗ Văn Quyến</a>
					<a href="">Nguyễn Tuấn Anh</a>
					<a href="">Nguyễn Hồng Hanh</a>
					<a href="">Vũ Chí Thành</a>
				</div>
			</div>
	</footer>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWqbSNVYy7jSr5KC14doMijaosdwF-Bw&callback=initMap"></script>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>