<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="fontend/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fontend/css/login.css">

	<script type="text/javascript" src="fontend/js/angular.min.js"></script>
	<script type="text/javascript" src="fontend/js/angular-route.js"></script>
</head>
<body ng-controller="ctrlLogin">
	<div class="loginPage">
		<div class="container">
			<div class="row main">
				<div class="formLogin well">
					<div class="alert alert-success" role="alert"></div>
					<div class="alert alert-danger" role="alert"></div>
					<div>
						<h1>Đăng nhập</h1>
					</div>
					<form method="post">
						<div class="form-group">
							<label>Tài khoản</label>
							<input type="text" name="userName" class="form-control" ng-model="data.username">
						</div>
						<div class="form-group">
							<label>Mật khẩu</label>
							<input type="text" name="userPass" class="form-control" ng-model="data.password">
						</div>
						<div class="form-group">
							<label></label>
							<input type="submit" name="sbm" value="Đăng nhập" class="btn btn-primary" ng-click="btnSbm()">
							<input type="submit" name="sbm" value="Đăng ký" class="btn" ng-click="btnRegister()">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="fontend/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="fontend/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="login.js"></script>
</body>
</html>