<div class="container" ng-controller="ctrlAddLeHoi">
	<div class="row addLeHoiForm" >
		<div class="alert alert-success" role="alert" style="display: none;"></div>
		<div class="alert alert-danger" role="alert" style="display: none;"></div>
		<form method="post" name="form">
			<div class="form-group">
				<label>Tên Lễ Hội</label>
				<input type="text" name="nameLeHoi" id="nameLeHoi" class="form-control" ng-model="festival.nameLeHoi" required>
				<i class="fa fa-check text-success" ng-show="form.nameLeHoi.$dirty && form.nameLeHoi.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.nameLeHoi.$error.required">Vui lòng điền tên lễ hội</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Bắt đầu</label>
					<input type="date" name="timeStart" id="timeStart" class="form-control" ng-model="festival.timeStart">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Kết thúc</label>
					<input type="date" name="timeEnd" id="timeEnd" class="form-control" ng-model="festival.timeEnd">
				</div>
			</div>
			<div class="form-group">
				<label>Địa điểm</label>
				<input type="text" name="diadiem" id="diadiem" class="form-control" ng-model="festival.diadiem" required>
				<i class="fa fa-check text-success" ng-show="form.diadiem.$dirty && form.diadiem.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.diadiem.$error.required">Vui lòng điền địa điểm lễ hội</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Kinh độ</label>
					<input type="text" name="kinhdo" id="kinhdo" class="form-control" ng-model="festival.kinhdo" required>
					<i class="fa fa-check text-success" ng-show="form.kinhdo.$dirty && form.kinhdo.$valid"></i>
					<div class="text-danger">
						<span ng-show="form.kinhdo.$error.required">Vui lòng điền kinh độ</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Vĩ độ</label>
					<input type="text" name="vido" id="vido" class="form-control" ng-model="festival.vido" required>
					<i class="fa fa-check text-success" ng-show="form.vido.$dirty && form.vido.$valid"></i>
					<div class="text-danger">
						<span ng-show="form.vido.$error.required">Vui lòng điền vĩ độ</span>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Lục Địa</label>
					<select class="form-control" ng-model="festival.lucdia" id="lucdia">
						<option selected="selected" value="Việt Nam">Việt Nam</option>
						<option value="Châu Á">Châu Á</option>
						<option value="Châu Âu">Châu Âu</option>
						<option value="Châu Phi">Châu Phi</option>
						<option value="Châu Úc">Châu Úc</option>
						<option value="Châu Mỹ">Châu Mỹ</option>
					</select>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Tôn Giáo</label>
					<select class="form-control" ng-model="festival.tongiao" id="tongiao">
						<option selected="selected" value="Không">Không</option>
						<option value="Đạo Phật">Đạo Phật</option>
						<option value="Đạo Hồi">Đạo Hồi</option>
						<option value="Đạo Thiên Chúa">Đạo Thiên Chúa</option>
						<option value="Đạo Hindu">Đạo Hindu</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Chi tiết</label>
				<textarea name="chitiet" id="chitiet" class="addLeHoiChiTiet form-control" ng-model="festival.chitiet" rows="10" ></textarea>
				<!-- <input type="text" name="chitiet" id="chitiet" class="form-control" ng-model="festival.chitiet"> -->
			</div>

			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 1</label>
					<input type="text" name="festivalFile" id="url1" class="form-control" ng-model="festival.url1">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 2</label>
					<input type="text" name="festivalFile" id="url2" class="form-control" ng-model="festival.url2">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 3</label>
					<input type="text" name="festivalFile" id="url3" class="form-control" ng-model="festival.url3">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 4</label>
					<input type="text" name="festivalFile" id="url4" class="form-control" ng-model="festival.url4">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 5</label>
					<input type="text" name="festivalFile" id="url5" class="form-control" ng-model="festival.url5">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<label>Ảnh 6</label>
					<input type="text" name="festivalFile" id="url6" class="form-control" ng-model="festival.url6">
				</div>
			</div>
			<div>
				<input type="button" class="btn btn-primary" id="btnSbm"  name="btnSbm" value="Thêm mới" ng-click="btnAdd()" ng-disabled="form.nameLeHoi.$invalid || form.diadiem.$invalid || form.kinhdo.$invalid || form.vido.$invalid">
			</div>
		</form>
	</div>
</div>