<div class="container" ng-controller="ctrlAddUser">
	<div class="row addUserForm" >
		<div class="alert alert-success" role="alert" style="display: none;"></div>
		<div class="alert alert-danger" role="alert" style="display: none;"></div>
		<form method="post" name="form" ng-submit="plususer()" novalidate>
			<div class="form-group">
				<label>Tên Tài Khoản</label>
				<input type="text" name="username" id="username" class="form-control" ng-model="user.username" ng-minlength="6" ng-maxlength="15" required>
				<i class="fa fa-check text-success" ng-show="form.username.$dirty && form.username.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.username.$dirty && form.username.$error.required">Vui lòng điền tài khoản</span>
					<span ng-show="form.username.$dirty && form.username.$error.minlength">Tên truy cập phải dài hơn 6 kí tự</span>
					<span ng-show="form.username.$dirty && form.username.$error.maxlength">Tên truy cập phải ngắn hơn 15 kí tự</span>
				</div>
			</div>
			<div class="form-group">
				<label>Mật khẩu</label>
				<input type="button" name="btnPass" id="btnPass" class="btn btn-primary" value="Sửa lại mật khẩu" ng-click="btnPass()" style="display: none;">
				<input type="text" name="password" id="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="15" required>
				<i class="fa fa-check text-success" ng-show="form.password.$dirty && form.password.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.password.$dirty && form.password.$error.required">Vui lòng điền mật khẩu</span>
					<span ng-show="form.password.$dirty && form.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
					<span ng-show="form.password.$dirty && form.password.$error.maxlength">Mật khẩu phải ngắn hơn 15 kí tự</span>
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" id="email" class="form-control" ng-model="user.email" required>
				<i class="fa fa-check text-success" ng-show="form.email.$dirty && form.email.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.email.$dirty && form.email.$error.required">Vui lòng nhập địa chỉ Email</span>
					<span ng-show="form.email.$dirty && form.email.$error.email">Không đúng định dạng email</span>
				</div>
			</div>
			<div class="form-group">
				<label>Ngày Sinh</label>
				<input type="date" name="birthday" id="birthday" class="form-control" ng-model="user.birthday">
			</div>
			<div class="form-group">
				<label>Quền Truy Cập</label>
				<select class="form-control" ng-model="user.level" id="level">
					<option value="3">Chủ</option>
					<option value="2">Quản Lý</option>
					<option selected="selected" value="1">Người dùng</option>
				</select>
			</div>
			<div class="form-group">
				<label>Ảnh Đại Diện</label>
				<input type="text" name="userFile" id="avaUrl" ng-model="user.avaUrl" class="form-control">
			</div>
			<div>
				<input type="button" class="btn btn-primary" id="btnSbm"  name="btnSbm" value="Thêm mới" ng-click="btnAdd()" ng-disabled="form.username.$invalid || form.password.$invalid || form.email.$invalid">
			</div>
		</form>
	</div>
</div>