<div class="row" ng-controller="ctrlListUser">
	<div class="listUserHeader">
		<a href="" class="btn btn-warning" ng-click="btnAddUser()">Thêm Thành Viên</a>
	</div>
	<div>
		<table class="listUserTable">
			<tr>
				<td>Tên</td>
				<td>Ava</td>
				<td>Email</td>
				<td>Ngày Sinh</td>
				<td>Phân Quyền</td>
				<td>Sửa</td>
				<td>Xóa</td>
			</tr>
			<tr ng-repeat="user in listUser">
				<td>{{user.username}}</td>
				<td><img ng-src="{{user.avaUrl}}"></td>
				<td>{{user.email}}</td>
				<td>{{user.birthday}}</td>
				<td>{{user.level}}</td>
				<td><a href="" class="btn btn-primary" ng-click="btnEdit(user._id)">Sửa</a></td>
				<td><a href="" class="btn btn-danger"  ng-click="btnDelete(user._id,user.username)">Xóa</a></td>
			</tr>
			
		</table>
	</div>
</div>