<div class="row" ng-controller="ctrlListLeHoi">
	<div class="listLeHoiHeader">
		<input type="button" name="" class="btn btn-warning" value="Thêm Lễ Hội"  ng-click="btnAddUser()"></input>
	</div>
	<div>
		<table class="listLeHoiTable">
			<tr>
				<td><a href="" class="btn btn-warning" ng-click="btnSortName(currentPage)">Tên Lễ Hội<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTimeStart(currentPage)">Thời Gian Bắt Đầu<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTimeEnd(currentPage)">THời Gian Kết Thúc<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortPlace(currentPage)">Địa Điểm<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortLucDia(currentPage)">Châu Lục<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTonGiao(currentPage)">Tôn Giáo<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning">Sửa<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning">Xóa<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				
			</tr>
			<tr ng-repeat="data in listUser">
				<td>{{data.nameLeHoi}}</td>
				<td>{{data.timeStart}}</td>
				<td>{{data.timeEnd}}</td>
				<td>{{data.diadiem}}</td>
				<td>{{data.lucdia}}</td>
				<td>{{data.tongiao}}</td>
				<td><a href="" class="btn btn-primary" ng-click="btnEdit(data._id)">Sửa</a></td>
				<td><a href="" class="btn btn-danger"  ng-click="btnDelete(data._id,data.nameLeHoi)">Xóa</a></td>
			</tr>
			
		</table>
		<div>
		    <ul uib-pagination total-items="totalItems" 
		    	ng-model="currentPage" 
		    	ng-click="setPage(currentPage)" 
		    	max-size="maxSize" 
		    	class="pagination-sm" 
		    	boundary-links="true" 
		    	num-pages="numPages"
		    	items-per-page= "10">		
		    </ul>
		</div>
	</div>
</div>