<div class="row" ng-controller="ctrlListOrder">
	<div class="detailLoad"></div>
	<div class="listLeHoiHeader">
		<input type="button" name="" class="btn btn-warning" value="Thêm Lễ Hội"  ng-click="btnAddUser()"></input>
		<input type="date" name="" class="btn btn-defaul" value=""  ng-click="btnAddUser()"></input>
		<input type="date" name="" class="btn btn-defaul" value=""  ng-click="btnAddUser()"></input>
		<input type="button" name="" class="btn btn-warning" value="Thống Kê"  ng-click="btnAddUser()"></input>
	</div>
	<div>
		<table class="listLeHoiTable">
			<tr>
				<td><a href="" class="btn" ng-click="btnSortName(currentPage)">Thời gian<span class=" glyphicon glyphicon-sort-by-attributes"></span></a></td>
				<td><a href="" class="btn" ng-click="btnSortTimeStart(currentPage)">Thành phố<span class=" glyphicon glyphicon-sort-by-attributes"></span></a></td>
				<td class="responsive992 responsive768"><a href="" class="btn" ng-click="btnSortTimeEnd(currentPage)">Tổng giá<span class=" glyphicon glyphicon-sort-by-attributes"></span></a></td>
				<td class=""><a href="" class="btn" ng-click="btnSortStatus(currentPage)">Trạng thái<span class=" glyphicon glyphicon-sort-by-attributes"></span></a></td>
				<td class=""><a href="" class="btn">Nhận</span></a></td>

				<td class="responsive768 responsive992"><a href="" class="btn">Từ chối</span></a></td>
				
			</tr>
			<tr ng-repeat="data in listData" ng-click="btnOrderDetail(data._id, data.fullName, data.totalPrice, data.email, data.phone, data.adress)">
				<td class="">{{data.createdAt | date : "h:mm a  d/M/yy " }}</td>
				<td>{{data.city}}</td>
				<td class="responsive992 responsive768">{{data.totalPrice | currency: "" :0 }} VND</td>
				<td class="">{{data.status}}</td>
				<td class="" ng-if="data.status == '2'"  ng-click="btnDone(data.fullName, data._id, 1)"><a href="" class="btn btn-primary">Nhận</a></td>
				<td class="" ng-if="data.status == '1'" ng-click="btnDone(data.fullName, data._id, 0)"><a href="" class="btn btn-success">Xong</a></td>
				<td class="responsive768 responsive992" ng-if="data.status == '2'" ng-click="btnDone(data.fullName, data._id, 0)"><a href="" class="btn btn-danger" >Từ chối</a></td>
			</tr>
			
		</table>
		<div>
		    <ul uib-pagination total-items="totalItems" 
		    	ng-model="currentPage" 
		    	ng-click="setPage(currentPage)" 
		    	max-size="maxSize" 
		    	class="pagination-sm" 
		    	boundary-links="true" 
		    	num-pages="numPages"
		    	items-per-page= "10">		
		    </ul>
		    <div class="btn btn-default listOrderTotalPrice" > Tổng Doanh Thu : 150000VNĐ</div>
		</div>
	</div>


	<div id="modalOrderDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document"> 
        	<div class="modal-content">
	            <div class="listOrderModal" ng-click="mediaBtnDetail()">
	            	<h3>
	            		<span class="listOrderModalFull">{{fullName}} </span>
	            		---
	            		<span class="listOrderModalPrice">{{price | currency: "" :0 }} VND</span>
	            		<a href="" class="btn-success btn listOrderModalOff" ng-click="offModal()"> OK </a>
	            	</h3>
	            	<h4>
	            		<span class="listOrderModalEmail">Email: {{email}} </span>
	            		---
	            		<span class="listOrderModalPhone">Số liên hệ: {{phone}} </span>
	            	</h4>
	            	
	            	<p class="listOrderModalPhone">Địa chỉ : {{adress}}</h4>
	                <table class="table">
	                	<tr class="listOrderModalHeadTable">
	                		<td>Tên lễ hội</td>
	                		<td>Số vé</td>
	                		<td>Giá/vé</td>
	                	</tr>
	                	<tr ng-repeat="data in orderDetail">
	                		<td>{{data.nameLehoi}}</td>
	                		<td>{{data.quantity}}</td>
	                		<td class="listOrderModalPrice">{{data.unitPrice}} VND</td>
	                	</tr>
	                </table>
	            </div>
	        </div>
            
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
</div>