<div ng-controller='ctrlListDanhmuc'>
	<div class="detailLoad"></div>
   	<div class="col-md-6 col-sm-12 col-xs-12">
		<div class="listTonGiaoHeader">
			<input type="button" name="" class="btn btn-warning" value="Thêm Tôn Giáo" ng-click="btnAddTonGiao()"></input>
		</div>
		<div>
			<table class="listTonGiaoTable">
				<tr>
					<td>Tên</td>
					<td>Sửa</td>
					<td>Xóa</td>
				</tr>
				<tr ng-repeat="data in listTonGiao">
					<td>{{data.nameTonGiao}}</td>
					<td><a href="" class="btn btn-primary" ng-click="btnEditTonGiao(data._id)">Sửa</a></td>
					<td><a href="" class="btn btn-danger"  ng-click="btnDeleteTonGiao(data._id,data.nameTonGiao)">Xóa</a></td>
				</tr>
				
			</table>
		</div>
	</div>

	<div class="col-md-6 col-sm-12 col-xs-12" >
		<div class="listChauLucHeader">
			<input type="button" name="" class="btn btn-warning" value="Thêm Lục Địa" ng-click="btnAddLucDia()"></input>
		</div>
		<div>
			<table class="listChauLucTable">
				<tr>
					<td>Tên</td>
					<td>Sửa</td>
					<td>Xóa</td>
				</tr>
				<tr  ng-repeat="data in listLucDia">
					<td>{{data.nameLucDia}}</td>
					<td><a href="" class="btn btn-primary" ng-click="btnEditLucDia(data._id)">Sửa</a></td>
					<td><a href="" class="btn btn-danger"  ng-click="btnDeleteLucDia(data._id,data.nameLucDia)">Xóa</a></td>
				</tr>
				
			</table>
		</div>
	</div>
</div>
	