<div class="row" ng-controller="ctrlListTonGiao">
	<div class="listTonGiaoHeader">
		<input type="button" name="" class="btn btn-warning" value="Thêm Thành Viên" ng-click="btnAdd()"></input>
	</div>
	<div>
		<table class="listTonGiaoTable">
			<tr>
				<td>Tên</td>
				<td>Sửa</td>
				<td>Xóa</td>
			</tr>
			<tr ng-repeat="data in listData">
				<td>{{data.nameTonGiao}}</td>
				<td><a href="" class="btn btn-primary" ng-click="btnEdit(data._id)">Sửa</a></td>
				<td><a href="" class="btn btn-danger"  ng-click="btnDelete(data._id,data.nameTonGiao)">Xóa</a></td>
			</tr>
			
		</table>
	</div>
</div>