<div class="row" ng-controller="ctrlListLeHoi">
	<div class="listLeHoiHeader">
		<input type="button" name="" class="btn btn-warning" value="Thêm Lễ Hội"  ng-click="btnAddUser()"></input>
	</div>
	<div>
		<table class="listLeHoiTable">
			<tr>
				<td><a href="" class="btn btn-warning" ng-click="btnSortName()">Tên Lễ Hội<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTimeStart()">Thời Gian Bắt Đầu<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTimeEnd()">THời Gian Kết Thúc<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortPlace()">Địa Điểm<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortLucDia()">Châu Lục<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortTonGiao()">Tôn Giáo<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortName()">Sửa<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td><a href="" class="btn btn-warning" ng-click="btnSortName()">Xóa<span class=" glyphicon glyphicon-triangle-bottom"></span></a></td>
				
			</tr>
			<tr ng-repeat="data in listUser">
				<td>{{data.nameLeHoi}}</td>
				<td>{{data.timeStart}}</td>
				<td>{{data.timeEnd}}</td>
				<td>{{data.diadiem}}</td>
				<td>{{data.lucdia}}</td>
				<td>{{data.tongiao}}</td>
				<td><a href="" class="btn btn-primary" ng-click="btnEdit(data._id)">Sửa</a></td>
				<td><a href="" class="btn btn-danger"  ng-click="btnDelete(data._id,data.nameLeHoi)">Xóa</a></td>
			</tr>
			
		</table>
	</div>
</div>