<div class="row" ng-controller="ctrlListLeHoi">
	<div class="listLeHoiHeader">
		<input type="button" name="" class="btn btn-warning" value="Thêm Lễ Hội"  ng-click="btnAddUser()">
	</div>
	<div>
		<table class="listLeHoiTable">
			<tr>
				<td>Tên</td>
				<td>Thời Gian Bắt Đầu</td>
				<td>Thời Gian Kết Thúc</td>
				<td>Địa Điểm</td>
				<td>Châu Lục</td>
				<td>Tôn Giáo</td>
				<td>Sửa</td>
				<td>Xóa</td>
			</tr>
			<tr ng-repeat="data in listUser">
				<td>{{data.nameLeHoi}}</td>
				<td>{{data.timeStart}}</td>
				<td>{{data.timeEnd}}</td>
				<td>{{data.diadiem}}</td>
				<td>{{data.lucdia}}</td>
				<td>{{data.tongiao}}</td>
				<td><a href="" class="btn btn-primary" ng-click="btnEdit(data._id)">Sửa</a></td>
				<td><a href="" class="btn btn-danger"  ng-click="btnDelete(data._id,data.nameLeHoi)">Xóa</a></td>
			</tr>
			
		</table>
	</div>
</div>