<div class="container accout-center">
	<div class="col-md-5 col-sm-12 col-xs-12">
		<div class="acc-photo-and-infomations">
			<img src="imgs/user-avata/user rango.jpg">
			<div class="infomations">
				<b>
					Tài Khoản:
				</b>
				Rango
			</div>
			<div class="infomations">
				<b>
					Ngày Sinh:
				</b>
				1/1/2011
			</div>
			<div class="infomations">
				<b>
					Số Điện Thoại:
				</b>
				0123456789
			</div>
			<div class="infomations">
				<b>
					Email:
				</b>
				ABCZWE@gmail.com
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sm-12 col-xs-12" ng-controller="ctrlAccountCenter">
		<form method="post" name="form" class="change-infomation" ng-submit="register()" novalidate>
			<div class="form-group">
				<label>Tên Tài Khoản</label>
				<input type="text" name="username" placeholder="Điền vào tài khoản của bạn" id="username" class="form-control" ng-model="data.username" ng-minlength="6" ng-maxlength="15" required>
				<i class="fa fa-check text-success" ng-show="form.username.$dirty && form.username.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.username.$dirty && form.username.$error.required">Vui lòng điền tài khoản</span>
					<span ng-show="form.username.$error.minlength">Tên truy cập phải dài hơn 6 kí tự</span>
					<span ng-show="form.username.$error.maxlength">Tên truy cập ngắn hơn 15 kí tự</span>
				</div>
			</div>
			<div class="form-group">
				<label>Mật khẩu</label>
				<input type="password" name="password" placeholder="Mật khẩu" id="password" class="form-control" ng-model="data.password" ng-minlength="6" ng-maxlength="15" required>
				<i class="fa fa-check text-success" ng-show="form.password.$dirty && form.password.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.password.$dirty && form.password.$error.required">Vui lòng điền mật khẩu</span>
					<span ng-show="form.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
					<span ng-show="form.password.$error.maxlength">Mật khẩu phải ngắn hơn 15 kí tự</span>
				</div>
			</div>
			<div class="form-group">
				<label>Nhập lại mật khẩu</label>
				<input type="password" name="repassword" placeholder="Nhập Lại mật khẩu" id="re-password" class="form-control" ng-model="repassword" required>
				<i class="fa fa-check text-success" ng-show="form.repassword.$dirty && data.password == repassword"></i>
				<div class="text-danger">
					<span ng-show="form.repassword.$dirty && data.password !== repassword">Mật khẩu không trùng khớp</span>
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" placeholder="Điền vào Email của bạn" id="email" class="form-control" ng-model="data.email" required>
				<i class="fa fa-check text-success" ng-show="form.email.$dirty && form.email.$valid"></i>
				<div class="text-danger">
					<span ng-show="form.email.$dirty && form.email.$error.required">Vui lòng nhập địa chỉ Email</span>
					<span ng-show="form.email.$error.email">Không đúng định dạng email</span>
				</div>
			</div>
			<div class="form-group">
				<label>Ngày Sinh</label>
				<input type="date" name="birthday" placeholder="YYYY/MM/DD" id="birthday" class="form-control" ng-model="data.birthday">
			</div>
			<div class="form-group">
				<label>URL Ảnh Đại Diện</label>
				<input type="text" name="userFile" placeholder="Đường link ảnh đại diện" id="avaUrl" ng-model="user.avaUrl" class="form-control">
			</div>
			<div>
				<input type="button" class="btn btn-warning" id="btnSbm"  name="btnSbm" value="Thay Đổi" ng-click="btnChange()" ng-disabled="form.username.$invalid || form.password.$invalid || form.repassword.$invalid ||form.email.$invalid">
			</div>
		</form>
	</div>
</div>
