<div class="container" ng-controller="ctrlContact">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div>
        <h3 class="Case">Liên Hệ Với Chúng Tôi</h3>
      </div>
      <div>
        <div class="contactLeft">
          <b class="contactLeftTitle">
            Địa chỉ: 
          </b>
            {{contact.adress}}      
        </div>
         <div class="contactLeft">
          <b class="contactLeftTitle">
            Chăm sóc khách hàng:
          </b>
            {{contact.phoneCSKH}}  
        </div>
        <div class="contactLeft">
          <b class="contactLeftTitle">
            Liên hệ đối tác:
          </b>
            {{contact.phoneDoiTac}}        
        </div>
        <div class="contactLeft">
          <b class="contactLeftTitle">
            Liên hệ tuyển dụng:
          </b>
            {{contact.phoneTuyenDung}}        
        </div>
        <div class="contactLeft">
          <b class="contactLeftTitle">
            Email:
          </b>
            {{contact.email}}       
        </div>
        <div class="contactLeft">
          <b class="contactLeftTitle">
            Website:
          </b>
            {{contact.website}}           
        </div>                            
      </div>
      <div class="contactFB">
        <a href="https://www.facebook.com/Festival-Quẩy-từ-Bắc-vào-Nam-181350499303544" class="btnCartfb" target="blank"> 
          <img src="imgs/facebook_circle-512.png" id="btnHoverFb">
        </a>
        <a href="" class="btnCartYotu"> 
          <img src="imgs/109354_media_512x512.png" id="btnHoverYotu">
        </a>
        <a href="" class="btnCartInsta"> 
          <img src="imgs/social-instagram-new-circle-256.png" id="btnHoverInsta">
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h3 class="Case">Ý kiến người dùng</h3>
      <form method="post" name="form" ng-submit="submit()" novalidate>
        <div class="form-group">
          <label>Tên tài khoản</label>
          <input type="text" name="username" class="form-control" ng-model="data.username" placeholder="Tài khoản có từ 6-15 kí tự." ng-minlength="6" ng-maxlength="15" required>
          <i class="fa fa-check text-success" ng-show="form.username.$dirty && form.username.$valid"></i>
          <div class="text-danger">
            <span ng-show="form.username.$dirty && form.username.$error.required">Vui lòng điền tài khoản</span>
            <span ng-show="form.username.$error.minlength">Tên truy cập phải dài hơn 6 kí tự</span>
            <span ng-show="form.username.$error.maxlength">Tên truy cập ngắn hơn 15 kí tự</span>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="data.email" placeholder="Ví dụ: abc@gmail.com." required>
          <i class="fa fa-check text-success" ng-show="form.email.$dirty && form.email.$valid"></i>
          <div class="text-danger">
            <span ng-show="form.email.$dirty && form.email.$error.required">Vui lòng nhập địa chỉ Email</span>
            <span ng-show="form.email.$dirty && form.email.$error.email">Không đúng định dạng email</span>
          </div>
        </div>
        <div class="form-group">
          <label>Chủ đề</label>
          <input type="text" name="title" class="form-control" ng-model="data.title" required>
          <i class="fa fa-check text-success" ng-show="form.title.$dirty && form.title.$valid"></i>
          <div class="text-danger">
            <span ng-show="form.title.$dirty && form.title.$error.required">Vui lòng nhập chủ đề</span>
          </div>
        </div>
        <div class="form-group">
          <label>Chi tiết</label>
          <textarea name="content" id="content" class="form-control" ng-model="data.content" rows="10" required></textarea>
          <i class="fa fa-check text-success" ng-show="form.content.$dirty && form.content.$valid"></i>
          <div class="text-danger">
            <span ng-show="form.content.$dirty && form.content.$error.required">Vui lòng điền ý kiến của bạn xin cảm ơn !</span>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" name="sbm" ng-click="btnFeedback()" value="Gửi đi" class="btn btn-primary" ng-disabled="form.username.$invalid || form.email.$invalid || form.title.$invalid || form.content.$invalid">
        </div>
      </form>
    </div>
  </div>
</div>  