<div class="mainRow row" ng-controller="ctrlMain">
	<div class="col-md-6 col-sm-12 col-xs-12 mainItem" ng-repeat="data in listData" ng-click="detailPage(data._id)">
		<div class="mainSlide1">
			<a href=""><img ng-src="{{data.url1}}"></img></a>
		</div>
		<div class="mainSlide2">
			<a href=""><img ng-src="{{data.url2}}"></img></a>
		</div>
		<div class="mainSlide3">
			<a href=""><img ng-src="{{data.url3}}"></img></a>
		</div>
		
		<div class="mainItemContent">
			<h3><a href="">{{data.nameLeHoi}}</a></h3>
			<span>{{data.timeStart}}</span>
			<span>-</span>
			<span>{{data.timeEnd}}</span>
			<span class="glyphicon glyphicon-map-marker"></span>
			<span>{{data.diadiem}}</span>
		</div>
	</div>
</div>
