<div class="" ng-controller="ctrlMedia">
    <div class="flexbin flexbin-margin">
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?man')">
            <img src="https://source.unsplash.com/featured/?man" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?woman')">
            <img src="https://source.unsplash.com/featured/?woman" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?design')">
            <img src="https://source.unsplash.com/featured/?design" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?sky')">
            <img src="https://source.unsplash.com/featured/?sky" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?tree')">
            <img src="https://source.unsplash.com/featured/?tree" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?cat')">
            <img src="https://source.unsplash.com/featured/?cat" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?dog')">
            <img src="https://source.unsplash.com/featured/?dog" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?office')">
            <img src="https://source.unsplash.com/featured/?office" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?sea')">
            <img src="https://source.unsplash.com/featured/?sea" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?green')">
            <img src="https://source.unsplash.com/featured/?green" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?fashion')">
            <img src="https://source.unsplash.com/featured/?fashion" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?architecture')">
            <img src="https://source.unsplash.com/featured/?architecture" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?art')">
            <img src="https://source.unsplash.com/featured/?art" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?style')">
            <img src="https://source.unsplash.com/featured/?style" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?animal')">
            <img src="https://source.unsplash.com/featured/?animal" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?home')">
            <img src="https://source.unsplash.com/featured/?home" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?flower')">
            <img src="https://source.unsplash.com/featured/?flower" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?grass')">
            <img src="https://source.unsplash.com/featured/?grass" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?market')">
            <img src="https://source.unsplash.com/featured/?market" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?street')">
            <img src="https://source.unsplash.com/featured/?street" />
        </a>
        <a href=""  ng-click="showVideo('https://source.unsplash.com/featured/?bird')">
            <img src="https://source.unsplash.com/featured/?bird" />
        </a>
    </div>
    <div id="modal-video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <a href=""><img id="video-frame" width="900" height="580" ng-src="{{mySrc}}" frameborder="0" allowfullscreen></a>
            <div></div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->          
</div>
