<div class="container" ng-controller="ctrlSearch">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="searchInformation">
			<span class="searchHeadSearch">Tìm kiếm : </span>
			<span class="searchHeadContent">"{{searchTitle}}"</span>
		</div>
		<div class="searchContent">
			<div class="row searchContentItem" ng-repeat="dataleft in listDataLeft">
				<div class="searchContentItemImg col-md-4 col-sm-4 col-xs-4 thumbnail">
					<a href="" ng-click="btnDetail(dataleft._id)"><img ng-src="{{dataleft.url2}}"></a> 
				</div>
				<div class="searchContentItemCap col-md-6 col-sm-6 col-xs-6">
					<h4><a href="" ng-click="btnDetail(dataleft._id)">{{dataleft.nameLeHoi}}</a></h4>
					<div>
						<span>{{dataleft.timeStart  | date : "dd/MM/y" }}</span>
						<span>Đến</span>
						<span>{{dataleft.timeEnd  | date : "dd/MM/y" }}</span>
					</div>
					<div>
						<span class="glyphicon glyphicon-map-marker"></span>
						<span><a href="" ng-click="btnDetail(dataleft._id)">{{dataleft.diadiem}}</a></span>
					</div>
					<div class="searchPrice">
						<span><a href="" ng-click="btnDetail(dataleft._id)"><b>Giá vé :</b> {{dataleft.price | currency: "" :0 }} VND</a></span>
					</div>
				</div>
				<div class="searchContentItemIcon col-md-2 col-sm-2 col-xs-2">
					<a href=""><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="searchHot col-md-4 col-sm-12 col-xs-12">
		<div class="searchHotInfo">
			<span class="searchHotInfoContent">Lễ hội Thịnh Hành</span>
		</div>
		<div class="searchHotContent">
			<div class="row searchHotContentItem" ng-repeat="data in listDataRight">
				<div class="searchContentItemImg col-md-4 col-sm-4 col-xs-4 thumbnail">
					<a href="" ng-click="btnDetail(data._id)"><img ng-src="{{data.url2}}"></a>
				</div>
				<div class="searchContentItemCap col-md-6 col-sm-6 col-xs-6">
					<h5><a href="" ng-click="btnDetail(data._id)">{{data.nameLeHoi}}</a></h5>
					<div class="searchPrice">
						<span class=" glyphicon glyphicon-credit-card"></span>
						<span><a href="" ng-click="btnDetail(dataleft._id)">{{data.price | currency: "" :0 }} VND</a></span>
					</div>
				</div>
				<div class="searchHotItemIcon col-md-2 col-sm-2 col-xs-2">
					<a href=""><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
	
</div>