<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Festival Admin</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="imgs/founder1.png"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width:device-width, initial-scale=1"/>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>


</head>
<body>
	<div class="detailLoad"></div>
	<div class="container-fluid">
		<div class="row">

			<div class="menu col-md-2 col-sm-2 col-xs-12" ng-controller="ctrlMenu">
				<button type="button" class="btn btnHeaderBar" ng-click="btnHeaderBar()">
	           	 	<span class=" glyphicon glyphicon-menu-hamburger"></span>
	            
	        	</button>
				<div class="menuLogo col-md-12 col-sm-12 col-xs-6">
					<a href=""><img src="imgs/festival_0.png"></a>
				</div>
				<div class="menuAva col-md-12 col-sm-12 col-xs-6">
				<a href="" ng-click="btnEdit(user._id)"><img src="{{user.avaUrl}}"></a>
				</div>
				<input type="hidden" name="add" id="userid" value="">

				<div class="col-md-12 col-sm-12 col-xs-12 dropmenu">
					<a href="index.html" class="menuItem">Tài Khoản</a>
					<a href="#!listDanhmuc" class="menuItem">Danh Mục</a>
					<a href="#!listLeHoi" class="menuItem">Lễ Hội</a>
					<a href="#!listOrder" class="menuItem">Đơn mới</a>
					<a href="#!listFeedBack" class="menuItem">Ý Kiến</a>
					<a href="#!contact" class="menuItem">Liên hệ</a>
					<a href="" class="menuItem" ng-click="btnFontEnd()">Trang khách</a>
					<a href="" class="menuItem" ng-click="logOut()">Đăng Xuất</a>
					<div class="footer-social">
					    <a href="https://www.facebook.com/Festival-Qu%E1%BA%A9y-t%E1%BB%AB-B%E1%BA%AFc-v%C3%A0o-Nam-181350499303544/?ref=bookmarks" class="social-icons"><i class="footerIcon fa fa-facebook"></i></a>
					    <a href="https://www.instagram.com/" class="social-icons"><i class="footerIcon fa fa-instagram"></i></a>
					    <a href="https://twitter.com/" class="social-icons"><i class="footerIcon fa fa-twitter"></i></a>
  					</div>
  					<div class="footer-copy">
  						<a href="">
  							<p class="footer-copyright">© Copyright 2018</p>
  							<p class="footer-copyright">By T1707A</p>
  						</a>
  					</div>
				</div>
				

			</div>
			<div class="main col-md-10 col-sm-10 col-xs-12" ng-view>
				
			</div>
		</div>
	</div>


	
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>