*{
	font-family: Georgia;
}
body{
	background: url('../imgs/EventPage-e1465261664195.jpg') no-repeat;
}
.detailLoad{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../imgs/Preloader_3.gif') center no-repeat #fff;
}
.loginPage{
	position: absolute;
	height: 100%;
	width: 100%;
}
.formLogin{
	width: 30%;
	margin: 100px auto;
	border-radius: 10px;
	background: #fff9;
	box-shadow: 5px 10px 8px #888888;
	padding: 20px;
}

.alert{
	position: absolute;
	display: none;
	margin: auto;
	top : 0;
}