*{
	margin: 0;
	padding: 0;
}
body{
	background: white;
}
.row{
	margin:0 ;
}
.container-fluid{
	padding: 0;
}
/*start header*/
header{
	background: #002;
}
.headerLogo img{
	width: 200px;
	margin: 0 30px;
	transition: .5s;
}
.headerLogo img:hover{
	transform: scale(1.5);
}
.headerSearch{
	padding: 30px 10px;
}
.headerUser{
	margin:30px 0 20px;
}
.headerUser a{
	color: #ccf;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;	
}
.headerLogin{
	text-align: right;
	transition: .5s;
}
.headerLogin:hover{
	color: #fff;
	transform: scale(1.1);
}
.headerRegister{
	text-align: left;
	transition: .5s;
}
.headerRegister:hover{
	color: #fff;
	transform: scale(1.1);
}
.headerUserAva{
	text-align: center;
	transition: .5s;
}
.headerUserAva:hover{
	color: #fff;
	transform: scale(1.1);
}
.headerAva{
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

/*end header*/

/*start nav*/
nav{
	background: #002;
	margin-bottom: 5px;
	/*margin-bottom: 10px;*/
}
nav ul{
	margin: 0;
}
.navItem{
	text-align: center;
	font-size: 18px;
	list-style:none;
	padding: 0;
}
.navItem a{
	color: #ccf;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 7px 0 ;
	transition: .5s;
}
.navDrop li{
	list-style: none;
	display: none;
}
.navItem:hover{
	background:#113; 
	box-shadow:0 0 20px -2px rgba(0,0,0,0);
}
.navItem:hover a{
	transform: scale(1.1);
}
.navItem:hover ul li{
	display: block;
}
.navItem-icon{
	transition: .3s;
}
.navItem:hover .navItem-icon{
	transform: rotate(90deg);
}
.navItem:hover a{
	color: #fff;
}
.navItem ul li{
	background:#002;
	border-top: 2px solid #113;
	
}
.navItem>ul{
	position: absolute;
	width: 100%;
	z-index: 99;
}
.navItem ul li:hover{
	background:#113;
}
.main{
	padding: 0;
}
.mainRow{
	margin: 0;
}
/*end nav*/

/*start main*/
.mainItem{
	padding: 0;
	border: 5px solid #fff; 

}
.mainItem img{
	width: 100%;
	border-radius: 5px;
}
.mainItem:hover .mainItemContent{
	display: block;
} 
.mainItemContent{
	position: absolute;
	background: #000;
	opacity: 0.8;
	bottom: -1px;
	height: 30%;
	width: 100%;
	display: none;
	color: #fff;
	padding: 20px;
}

.mainFollow{
	transition: .5s;
}
.mainFollow:hover{
	transform: scale(1.5);
	color: #f00;
}
.mainCome{
	transition: .5s;
}
.mainCome:hover{
	transform: scale(1.5);
	color: #0f0;
}
.mainSlide2{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}
.mainSlide3{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}
.mainSlide5{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}
.mainSlide6{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}
.mainSlide8{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}
.mainSlide9{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}

/*end main*/

/*start contact*/


/*end contact*/
/*start detail*/
#map {
    height: 400px;
    width: 100%;
}

/*end detail*/

/*start media*/
#myCarousel li{
	list-style: none;
}
.mediaItem img{
	width: 100%;
}
.detailrightimg img{
	width: 100%;
}
/*end media*/


/*start contact*/

/*end contact*/

/*start about*/
.aboutbody {
	margin-bottom: 20px;
}


/*end about*/

/*start Search*/
.searchInformation{
	margin: 10px 0;
}
.searchHeadSearch{
	font-size: 18px;
}
.searchHeadContent{
	font-size: 22px;
}
.searchContentItem{
	padding: 10px;
	background: #f2f3f4;
	margin: 5px;
}
.searchContentItem:hover{
	background: #eeffee;
}
.searchContentItemIcon{
	font-size: 30px;
}
.searchContentItemImg{
	margin: 0;
	transition: .5s;
}
.searchContentItemImg:hover{
	transform: scale(1.3);
	z-index: 10;
}
.searchContentItemIcon a{
	padding: 45px 0;
	color: #000;
	display: block;
	transition: margin-left .5s;
}
.searchContentItemIcon:hover a{
	margin-left: 20px;
}

.searchHot{
	border-left: 5px dashed #eee;
}
.searchHotInfo{
	margin: 10px 5px;
	font-size: 22px;
}
.searchHotContentItem{
	padding: 10px;
	background: #f2f3f4;
	margin: 5px;
}
.searchHotContentItem:hover{
	background: #f8eeee;
}
.searchHotItemIcon a{
	padding: 30px 0;
	color: #000;
	display: block;
	transition: margin-left .5s;
}
.searchHotItemIcon:hover a{
	margin-left: 20px;
}
/*end Search*/

/*start media*/

.mediaHead h1{
	color: red;
}

/*end media*/

/*start footer*/
footer{
	margin-top: 5px;
	background: url('../imgs/We-Own-The-Nite-NYC_Sunset-Music-Festival-161.jpg');
	background-size: 100%;
	color: #fff;
}
.footerBg{
	background: #111;
	opacity: 0.8;
	padding: 20px;
}
footer a{
	display: inline-block;
	text-align: left;
	color: #fff;
}
.footerItemList li{
	list-style: none;
}
.footerItem ul li a{
	text-decoration: none;
	color: #FFF;
	/*border-bottom: 1px solid #6B6B6B;*/
	padding: 0 20px 6px 0;
	position: relative;
}
.footerBorderBot{
	position: absolute;
	background: #DC5454;
	height: 4px;
	bottom: 0;
	left: 0;
	width: 0px;
	transition: width .5s;
}
.footerItem ul li a:hover{
	color: #DC5454;
}
.footerItem ul li a:hover .footerBorderBot{
	width: 100%;
}
/*end footer*/

@media screen and (max-width: 992px){
	.searchHot{
	border-left: 0;
	}
}
@media screen and (max-width: 768px) {
    .searchContentItemIcon{
    	display: none;
    }
    
}