*{
	margin: 0;
	padding: 0;
}

/*start header*/
header{
	background: #f0f;
	
}
.headerLogo img{
	width: 200px;
	margin: 0 30px;
}
.headerSearch{
	padding: 30px 0;
}
.headerUser{
	padding:30px 0;
}
.headerUser a{
	color: #fff;
	text-decoration: none;
	padding: 10px;	
}
.headerLogin{
	text-align: right;
}
.headerRegister{
	text-align: left;
}

/*end header*/

/*start nav*/
nav{
	background: #d0d;
	
	margin-bottom: 10px;
}
nav ul{
	margin: 0;
}
.navItem{
	text-align: center;
	font-size: 18px;
	list-style:none;
	padding: 0;
}
.navItem a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 7px 0 ;
}
.navDrop li{
	list-style: none;
	display: none;
}
.navItem:hover{
	background:#f0f; 
}
.navItem:hover ul li{
	display: block;
}
.navItem ul li{
	background:#d0d;
	border-top: 2px solid #f3f;
	
}
.navItem>ul{
	position: absolute;
	width: 100%;
	z-index: 99;
}
.navItem ul li:hover{
	background:#f0f;
}
.main{
	padding: 0;
}
/*end nav*/

/*start main*/
.mainItem{
	padding: 0;
}
.mainItem img{
	width: 100%;
}
.mainItem:hover .mainItemContent{
	display: block;
} 
.mainItemContent{
	position: absolute;
	background: #999;
	opacity: 0.7;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	color: #fff;
	padding: 20px;
}

/*end main*/



/*start footer*/
footer{
	background: #666;
}
/*end footer*/